version:  '3.9'

services:
    db:
        image: postgres:11.12-alpine
        container_name: 'app.db'
        restart: on-failure
        cap_add:
            - SYS_NICE
        environment:
            POSTGRES_DB: app
            POSTGRES_USER: app_user
            POSTGRES_PASSWORD: app_pass
        volumes:
            - './bin/postgresql/:/var/lib/postgresql/data'
        ports:
            - '5432:5432'
        networks:
            - app_network

    test-db:
        image: postgres:11.12-alpine
        container_name: 'app.test-db'
        restart: on-failure
        cap_add:
            - SYS_NICE
        environment:
            POSTGRES_DB: app
            POSTGRES_USER: app_user
            POSTGRES_PASSWORD: app_pass
        # volumes are not really needed in test db
        ports:
            - '8070:5432' # notice different OUT port than in default database
        networks:
            - app_network

    php:
        build:
            context: docker/php
            dockerfile: Dockerfile
            network: host
            args:
                ENV: dev # change according to your needs
                TIMEZONE: Europe/Warsaw # change according to your needs
        container_name: 'app.php'
        expose:
            - '9000'
        restart: on-failure
        env_file:
            - docker/php/.env.web.dev # change according to your needs
            - docker/php/.env.app.dev # change according to your needs
        depends_on:
            - db
        volumes:
            - './app/:/var/www/app:cached'
        networks:
            - app_network

    nginx:
        build: docker/nginx
        container_name: 'app.nginx'
        restart: on-failure
        depends_on:
            - db
            - php
        volumes:
            - './app/:/var/www/app:cached'
            - './logs/nginx:/var/log/nginx'
        ports:
            - '8050:80'
        networks:
            - app_network

networks:
    app_network:
        driver: bridge
        ipam:
            config:
                - subnet: 172.19.57.0/24