/.idea

###

logs/*
bin/.phpunit
docker-compose.yml

###

app/bin/.phpunit
app/vendor
app/var
app/public_html/bundles/
!app/.env
app/.env.*

app/.phpunit
app/.phpunit.result.cache
app/phpunit.xml

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###